@import "../../../../styles/utils";
@import "../../../../styles/common";

.box{
  width: 100%;
  .main {
    width: 100%;
    position: relative;
    background-color: $bg-color4;
    .game-tab {
      @include breadcrumbs-layout();
    }
    .play-tab{
      width: 100%;
      height: px2vh(44);
      padding-bottom: px2vh(8);
      display: flex;
      align-items: center;
      justify-content: center;
      .tab{
        display: block;
        width: 50%;
        height: px2vh(44);
        line-height: px2vh(44);
        text-align: center;
        font-size: px2vw(14);
        background-color: white;
        box-sizing: border-box;
        color: #6d6d6d;
      }
      .active{
        position: relative;
        color: #bf7800!important;
        border-bottom: 2px solid #c58311;
      }
    }
    .area-box{
      width: 100%;
      padding-bottom: 1px;
      .area-name{
        color: white;
        width: 100%;
        height: px2vh(44);
        line-height: px2vh(44);
        padding-left: 4%;
        text-align: left;
        background-color: #2d6265;
      }
    }
    .event-loading {
      position: relative;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}
.modal-ok {
  width: 86%;
  margin: 0 auto;
  height: 5vh;
  overflow: scroll;
  margin-top: px2vh(6);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: white;
  .button {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e3f6d;
    border-radius: 4px;
  }
}



