@import "../../../../styles/utils";
@import "../../../../styles/common";

.announcement {
  width: 100%;
  position: relative;
  padding-bottom: px2vh(70);
  .game-tab {
    @include breadcrumbs-layout();
    .search{
      float: right;
      margin-right: px2vw(20);
      background: url(../../../../assets/search_icon.png) no-repeat 50%;
      background-size: contain;
      height: px2vw(20);
      width: px2vw(20);
      text-align: center;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .list-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 10px;
    .item {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 6px;
      margin-bottom: px2vh(4);
      &:nth-child(even){
        background-color: #f9f7f6;
      }
      .title {
        width: 100%;
        padding: 0 px2vw(10);
        font-size: px2vw(14);
        line-height: 1.8;
        color: #232323;
        box-sizing: border-box;
      }
      .detail {
        width: 100%;
        padding: px2vh(10) px2vw(10);
        font-size: px2vw(13);
        line-height: 1.8;
        color: #232323;
        box-sizing: border-box;
      }
    }
  }
}
