@import "../../styles/common";
@import "../../styles/utils";
@import "../../styles/bilnk";

.bet-box {
  width: 100%;
  height: 74vh;
  flex-direction: column;
  display: flex;
  color: #0F1A22;
  padding: 0 px2vw(4);
  flex-grow: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: $bg-color8;
  overflow: overlay;
  box-sizing: border-box;
  .bet-list {
    width: 100%;
    font-size: px2vw(12);
    margin-top: px2vh(4);
    padding-bottom: px2vh(200);
    .bet-none {
      width: 100%;
      height: 80px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4px;
      color: white;
      font-size: 14px;
    }
    .bet-item {
      position: relative;
      min-height: 17vh;
      box-sizing: border-box;
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -4px 0 4px -4px rgba(0, 0, 0, .2), 4px 0 4px -4px rgba(0, 0, 0, .2);
      animation: SlideUpIn .2s linear 1;
      margin-bottom: px2vh(12);
      background-color: #fff;
      .no-bet {
        width: 100%;
        line-height: px2vh(30);
        background-color: rgb(255, 204, 208);
        color: rgb(11, 20, 34);
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        box-sizing: border-box;
        margin-bottom: px2vh(6);
        .left {
          font-size: px2vw(12);
          color: rgb(11, 20, 34);
          display: flex;
          align-items: center;
          padding-left: px2vw(12);
          justify-content: start;
          .result {
            color: #232323;
            font-weight: bold;
          }
        }
        .right {
          margin-right: px2vw(20);
          .del {
            font-size: px2vw(14);
            font-weight: 700;
            border: none;
            color: #999;
            cursor: pointer;
            padding: px2vw(4) px2vh(4);
          }
        }
      }
      .bet-result {
        width: 100%;
        line-height: px2vh(30);
        color: rgb(11, 20, 34);
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        box-sizing: border-box;
        margin-bottom: px2vh(6);
        @include border-bottom-1px();
        .left {
          float: left;
          width: px2vw(20);
          height: px2vw(20);
          background-image: image-set(
              url('../../assets/chenggong@2x.png') 2x,
              url('../../assets/chenggong@3x.png') 3x
          );
          background-size: contain;
          background-repeat: no-repeat;
        }
        .right {
          font-size: px2vw(12);
          color: rgb(11, 20, 34);
          display: flex;
          align-items: center;
          padding-left: px2vw(12);
          justify-content: start;
          .result {
            color: #232323;
            font-weight: bold;
          }
        }
      }
      .bet-item-header {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        padding-top: px2vw(6);
        padding-left: px2vw(6);
        .left {
          display: flex;
          justify-content: center;
          flex-direction: column;
          .title {
            font-size: px2vw(12);
            color: $fz-color1;
            display: flex;
            align-items: center;
            padding-left: px2vw(6);
            justify-content: start;
            .logo {
              float: left;
              width: px2vw(12);
              height: px2vw(12);
              background-image: image-set(
                  url('../../assets/gerenzhongxinsaiguo@2x.png') 2x,
                  url('../../assets/gerenzhongxinsaiguo@3x.png') 3x
              );
              background-size: contain;
              background-repeat: no-repeat;
            }
            .gunqiu {
              margin-left: px2vw(6);
              float: left;
              width: px2vw(16);
              height: px2vw(16);
              background-image: image-set(
                  url('../../assets/gunqiu@2x.png') 2x,
                  url('../../assets/gunqiu@3x.png') 3x
              );
              background-size: contain;
              background-repeat: no-repeat;
            }
            .zaopan {
              margin-left: px2vw(6);
              float: left;
              width: px2vw(16);
              height: px2vw(16);
              background-image: image-set(
                  url('../../assets/zaopan@2x.png') 2x,
                  url('../../assets/zaopan@3x.png') 3x
              );
              background-size: contain;
              background-repeat: no-repeat;
            }
            .text {
              font-size: px2vw(12);
              color: $fz-color1;
              padding-left: px2vw(6);
              flex: 1;
            }
          }
          .odds-name {
            padding-left: px2vw(2);
            font-size: px2vw(11);
            line-height: px2vw(20);
            font-weight: 400;
            color: $fz-color6;
          }
        }
        .right {
          margin-right: px2vw(20);
          .del {
            font-size: px2vw(14);
            font-weight: 700;
            border: none;
            color: #999;
            cursor: pointer;
            padding: px2vw(4) px2vh(4);
          }
        }
      }
      .bet-item-content {
        box-sizing: border-box;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #0F1A22;
        .handicapInfo {
          width: 100%;
          flex-direction: row;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 4px;
          font-size: px2vw(13);
          padding-bottom: px2vh(4);
          .handicap {
            font-weight: 700;
            flex: 1;
            padding-left: 10px;
          }
          .odds {
            margin-right: px2vw(20);
            font-weight: 700;
            background: #f50;
            color: #fff;
            border-radius: 2px;
            padding-left: px2vw(4);
            padding-right: px2vw(4);
            font-size: px2vw(12);
            flex-shrink: 0;
            display: flex;
            position: relative;
            .up {
              @include up(-16px)
            }
            .down {
              @include down(-16px)
            }
          }
        }
        .errInfo {
          width: 100%;
          color: red;
          padding: 1px 3px;
          margin-left: 14px;
        }
        .winInfo {
          width: 100%;
          padding-left: px2vw(10);
          padding-top: px2vh(5);
          padding-bottom: px2vh(5);
          .bet-select {
            float: left;
            width: 45%;
            position: relative;
            .bet-input {
              width: 100%;
              height: px2vh(32);
              -moz-appearance: textfield;
              border: 1px solid #ccd3da;
              font-size: px2vw(12);
              background-color: #f8f9fa;
              text-align: right;
              vertical-align: baseline;
              font-weight: 500;
              border-radius: 2px;
            }
          }
          .money {
            float: right;
            font-size: px2vw(14);
            line-height: px2vh(32);
            margin-right: px2vw(20);
            font-weight: bold;
            text-align: right;
            color: black;
          }
        }
      }
    }
  }
}

/*投注单按钮样式*/
.bet-total {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: px2vw(13);
  bottom: 0;
  position: absolute;
  z-index: 3;
  border-radius: 0 0 3px 3px;
  .type {
    font-size: 12px;
    width: 100%;
    background-color: $bg-color2;
  }
  .calc {
    width: 100%;
    background-color: $bg-color2;
    padding: 8px 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    .left {
      text-align: center;
      width: 45%;
      line-height: px2vh(24);
    }
    .right {
      text-align: center;
      width: 55%;
      line-height: px2vh(24);
      .profit {
        font-size: px2vw(15);
        color: #f1af1c;
        font-weight: bold;
      }
    }
  }
  .button {
    width: 100%;
    background-color: #315e51;
    padding: px2vw(10) 0;
    text-align: center;
    .button-submit {
      margin: 0 auto;
      width: 90%;
      height: px2vh(36);
      display: block;
      font-size: px2vw(14);
      border-radius: 3px;
      background: #f50;
      cursor: pointer;
      color: white;
      font-weight: bold;
      box-shadow: none;
      outline: none;
      user-select: none;
      border: none;
    }
  }
}

.result-modal{
  .bet-result {
    width: 100%;
    line-height: px2vh(24);
    color: rgb(11, 20, 34);
    text-align: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: px2vh(8);
    padding-bottom: px2vh(4);
    .left {
      float: left;
      margin-left: px2vw(10);
      width: px2vw(20);
      height: px2vw(20);
      background-image: image-set(
          url('../../assets/chenggong@2x.png') 2x,
          url('../../assets/chenggong@3x.png') 3x
      );
      background-size: contain;
      background-repeat: no-repeat;
    }
    .right {
      font-size: px2vw(16);
      color: rgb(11, 20, 34);
      display: flex;
      align-items: center;
      padding-left: px2vw(12);
      justify-content: start;
      .result {
        color: #000;
        font-weight: bold;
      }
    }
  }
  .result-item {
    position: relative;
    min-height: 12vh;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, .2), 0px 0 1px 1px rgba(0, 0, 0, .2);
    animation: SlideUpIn .2s linear 1;
    margin-top: px2vh(6);
    margin-bottom: px2vh(6);
    background-color: #fff;
    .result-fail {
      width: 100%;
      line-height: px2vh(24);
      color: rgb(11, 20, 34);
      text-align: left;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-top: px2vh(4);
      padding-bottom: px2vh(4);
      @include border-bottom-1px(#a5a4a4);
      .left {
        float: left;
        margin-left: px2vw(10);
        width: px2vw(20);
        height: px2vw(20);
        background-image: image-set(
            url('../../assets/chenggong@2x.png') 2x,
            url('../../assets/chenggong@3x.png') 3x
        );
        background-size: contain;
        background-repeat: no-repeat;
      }
      .right {
        font-size: px2vw(16);
        color: rgb(11, 20, 34);
        display: flex;
        align-items: center;
        padding-left: px2vw(12);
        justify-content: start;
        .result {
          color: #000;
          font-weight: bold;
        }
      }
    }
    .result-item-header {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: #fff;
      padding-top: px2vw(6);
      padding-left: px2vw(6);
      .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title {
          font-size: px2vw(10);
          color: $fz-color1;
          display: flex;
          align-items: center;
          padding-left: px2vw(6);
          justify-content: start;
          .logo {
            float: left;
            width: px2vw(10);
            height: px2vw(10);
            background-image: image-set(
                url('../../assets/gerenzhongxinsaiguo@2x.png') 2x,
                url('../../assets/gerenzhongxinsaiguo@3x.png') 3x
            );
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      .text {
        font-size: px2vw(12);
        color: $fz-color1;
        padding-left: px2vw(6);
        flex: 1;
        text-align: left;
      }
      .flag{
        padding: 0 px2vw(6) 0 px2vw(4);
        font-size: px2vw(14);
        font-weight: bold;
        color: #ca4141;
      }
      .loss{
        padding: 0 px2vw(6) 0 px2vw(4);
        font-size: px2vw(14);
        font-weight: bold;
        color: #696969;
      }
    }
    .result-item-content {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      color: #0F1A22;
      padding-top: px2vh(4);
      padding-bottom: px2vh(4);
      @include border-bottom-1px(#d8d8d8);
      .odds-name {
        padding-left: px2vw(12);
        font-size: px2vw(11);
        line-height: px2vw(20);
        font-weight: 400;
        color: $fz-color6;
      }
      .handicap {
        text-align: left;
        font-size: px2vw(11);
        padding-left: 10px;
      }
      .odds {
        margin-right: px2vw(6);
        border-radius: 2px;
        padding-left: px2vw(4);
        padding-right: px2vw(4);
        font-size: px2vw(12);
        flex-shrink: 0;
        display: flex;
        position: relative;
      }

    }
    .result-item-winInfo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 1.8;
      padding-top: 4px;
      padding-bottom: 4px;
      .left {
        padding-left: px2vw(10);
        color: #232323;
      }
      .right{
        padding: 0 6px;
        color: #4f9666;
      }
    }
    .spec{
      text-align: left;
      font-size: px2vw(10);
      padding-left: px2vw(10);
    }
  }
}


