@import "../../../../styles/utils";
@import "../../../../styles/common";
@import "../../../../styles/bilnk";
.detail{
  width: 100%;
  height: 100%;
  color: #0b1422;
  background: #fff;
  .game-tab {
    @include game-tab-layout();
  }
  .main {
    width: 100%;
    position: relative;
    background-color: #fff;
    .content{
      height: px2vh(120);
      background-image: linear-gradient(to bottom, #3d7e61, #21241e);
      background-size: cover;
      background-position: top;
      overflow: hidden;
      position: relative;
      .stop{
        text-align: center;
        color: white;
        line-height: px2vh(120);
      }
      .date{
        text-align: center;
        font-weight: 500;
        font-size: px2vw(11);
        color: rgba(255,255,255,0.8);
        width: px2vw(60);
        margin: 0 auto;
        margin-top: px2vh(10);
        padding: 0 4px;
        line-height: 1.5;
        background-color: rgba(0,0,0,0.16);
      }
      .score{
        margin-top: px2vh(6);
        font-size: px2vw(14);
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        vertical-align: top;
        position: relative;
        width: 100%;
        .home-score{
          width: 45%;
          text-align:center;
          float: left;
          line-height: 1.5;
          font-size: px2vw(34);
          color: #eba01e;
        }
        .vs{
          border-radius: 3px;
          color: rgba(255, 255, 255, 0.24);
          font-size: px2vw(12);
          font-weight: 500;
          left: 45%;
          padding: 2px;
          text-align: center;
          text-transform: uppercase;
          width: 8%;
          line-height: 1.5;
        }
        .away-score{
          font-size: px2vw(34);
          float: right;
          width: 45%;
          text-align: center;
          line-height: 1.5;
          color: #eba01e;
        }
      }
      .team{
        margin-top: px2vh(2);
        font-size: px2vw(12);
        line-height: 1.4;
        display: flex;
        flex-wrap: nowrap;
        vertical-align: top;
        position: relative;
        width: 100%;
        .home-name{
          width: 45%;
          text-align:center;
          float: left;
          line-height: 1.5;
          color: #fff;
        }
        .vs{
          font-size: px2vw(12);
          left: 45%;
          text-align: center;
          width: 9%;
          line-height: 1.5;
        }
        .away-name{
          float: right;
          width: 45%;
          text-align: center;
          line-height: 1.5;
          color: #fff;
        }
      }
    }
    .all-odds{
      width: 100%;
      .odds-box{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .odds-name{
          width: 100%;
          height: px2vh(40);
          line-height: px2vh(40);
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #8c7769;
          .name{
            flex: 1;
            text-align: left;
            padding-left: px2vw(16);
            font-size: px2vw(12);
            font-weight: 700;
            cursor: pointer;
            position: relative;
            transition: all .2s;
            color: #fff;
          }
          .arrow{
            width: px2vw(44);
            height: px2vh(40);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: px2vw(12);
            color: #fcf7ed;
          }
        }
        .odds-item{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          font-size: px2vw(12);
          box-sizing: border-box;
          @include match-bet-layout();
        }
      }
    }
    .event-loading {
      position: relative;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}
