@import "../../../../styles/utils";
@import "../../../../styles/common";

.box{
  width: 100%;
  .main {
    width: 100%;
    position: relative;
    background-color: $bg-color4;
    padding-bottom: px2vh(8);
    .game-tab {
      @include breadcrumbs-layout();
    }
    .play-tab{
      width: 100%;
      height: px2vh(44);
      padding-bottom: px2vh(8);
      display: flex;
      align-items: center;
      justify-content: center;
      .tab{
        display: block;
        width: 50%;
        height: px2vh(44);
        line-height: px2vh(44);
        text-align: center;
        font-size: px2vw(14);
        background-color: white;
        box-sizing: border-box;
        color: #6d6d6d;
      }
      .active{
        position: relative;
        color: #bf7800!important;
        border-bottom: 2px solid #c58311;
      }
    }
    .selection{
      margin:8px 0;
      width: 100%;
      height: px2vh(44);
      line-height: px2vh(44);
      padding: 0 8px;
      clear: both;
      border-radius: 3px;
      overflow: hidden;
      background-color: #FFF;
      box-sizing: border-box;
      .select{
        width: 100%;
        height: px2vh(44);
        line-height: px2vh(44);
        padding-left: 17px;
        display: block;
        color: rgba(51, 51, 51, 0.6);
        /* font-size: 14px; */
        /* font-weight: 900; */
        background: url(../../../../assets/arrow_godown_b.svg) no-repeat 98%;
        border: solid 1px rgba(0, 0, 0, 0.4);
        -webkit-appearance: none;
        -moz-appearance: none;
        /* opacity: 0.6; */
        border-radius: 3px;
      }
    }
    .area-box{
      width: 100%;
      padding-bottom: 1px;
      .area-name{
        color: white;
        width: 100%;
        height: px2vh(44);
        line-height: px2vh(44);
        padding-left: 4%;
        text-align: left;
        background-color: #2d6265;
      }
    }
    .event-loading {
      position: relative;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}
.modal-ok {
  width: 86%;
  margin: 0 auto;
  height: 5vh;
  overflow: scroll;
  margin-top: px2vh(6);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: white;
  .button {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e3f6d;
    border-radius: 4px;
  }
}



