@import "../../../../styles/utils";
@import "../../../../styles/common";
@import "../../../../styles/bilnk";

.matchList {
  width: 100%;
  color: #0b1422;
  background: #fff;
  .game-tab {
    @include breadcrumbs-layout();
  }
  .play-tab {
    width: 100%;
    height: px2vh(44);
    display: flex;
    align-items: center;
    justify-content: center;
    .tab {
      display: block;
      width: 50%;
      height: px2vh(44);
      line-height: px2vh(44);
      text-align: center;
      font-size: px2vw(14);
      background-color: white;
      box-sizing: border-box;
      color: #6d6d6d;
    }
    .active {
      position: relative;
      color: #bf7800 !important;
      border-bottom: 2px solid #c58311;
    }
  }
  .main {
    width: 100%;
    position: relative;
    .title {
      background: #f1f3f7;
      color: #707070;
      font-size: px2vw(9);
      font-weight: 700;
      line-height: px2vw(19);
      height: px2vw(19);
      text-transform: uppercase;
      display: flex;
      border-top: 1px solid #dadbdc;
      .left {
        width: 45%;
      }
      .right {
        width: 55%;
        display: flex;
        align-items: center;
        .item {
          margin: 0 2px;
          width: 33.3333%;
          text-align: center;
        }
      }
    }

    .match-item {
     width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: px2vw(14);
      .match-date {
        width: 96%;
        background: #f4eee7;
        color: #fff;
        font-size: px2vw(11);
        font-weight: 500;
        line-height: px2vh(24);
        height: px2vh(24);
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: rgba(0, 0, 0, 0.72);
        padding: 0 2%;
        .content{
          width: 46%;
          display: flex;
          line-height: px2vh(24);
          vertical-align: middle;
          align-items: center;
          justify-content: space-between;
          .inplay{
            color: #bc7d10;
            font-size: px2vw(11);
          }
          .time{
            font-size: px2vw(11);
          }
        }
        .text{
          width: 27%;
          text-align: center;
        }
      }
      .match-odds{
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        .match-info {
          @include match-info-layout();
        }
        .match-bet {
          @include match-list-page-dish-layout();
        }
      }
      .match-play{
        clear: both;
        margin: 4px 8px 8px;
        width: calc(100% - 16px);
        display: block;
        height: px2vh(48);
        line-height: px2vh(48);
        border-radius: 3px;
        background-color: #f8f8f8;
        color: #51a47d;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        .text{
          display: inline-block;
          font-size: px2vw(14);
          padding: 0 3px;
        }
        .arrow{
          display: inline-block;
          width: 7px;
          height: 7px;
          vertical-align: middle;
          margin-top: -2px;
          background: url(../../../../assets/list_arr_cen.png) no-repeat 0 0;
          -webkit-background-size: 19px 7px;
          background-size: 19px 7px;
        }
      }
    }
    .event-loading {
      position: relative;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}
