/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input{
  -webkit-appearance: none;
}

html,
body,
#root {
  height: 100%;
}
/* iphonex 安全区域 */
html{
  /*filter: brightness(0.4);*/
}
body {
  -webkit-user-select: none;
  overflow-x: hidden;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PingFang SC",miui,system-ui,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans GB', 'Microsoft YaHei'!important;
}

a, a:hover{
  -webkit-tap-highlight-color: transparent;
}

.colorWeak {
  filter: invert(80%);
}

canvas {
  display: block;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

button{
  font-family: inherit;
  outline: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}
tr{
  margin: 0;
  padding: 0;
}
td{
  vertical-align:middle
}

.fix-iphonex-bottom{
  padding-bottom: 34px;
}

.no-data{
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.wrap{
  padding-bottom: 150px;
}

/*!*404页面*!
.no-found-page{
  width: 25%;
  padding-top:21.73913%;
  background-image: image-set(
    url('./assets/a404@2x.png') 2x,
    url('./assets/a404@3x.png') 3x
  );
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.no-auth-page{
  width: 25%;
  padding-top:29.60525%;
  background-image: image-set(
    url('./assets/a401@2x.png') 2x,
    url('./assets/a401@3x.png') 3x
  );
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}*/
/*
!*由右至左胡滑动*!
.slides-enter {
  transform: translateX(-50%);
  opacity: 0;
}
.slides-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 400ms;
}
.slides-exit {
  transform: translateX(0);
  opacity: 0;
}
.slides-exit-active {
  transform: translateX(-50%);
  opacity: 1;
  transition: all 400ms;
}
.slides-exit-done {
  opacity: 1;
  transform: translateX(0);
}

.router-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

!*由上至下滑动*!
.upSlides-enter {
  transform: translateY(-10%);
  opacity: 0;
}
.upSlides-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 400ms;
}
.upSlides-exit {
  transform: translateY(0);
  opacity: 0;
}
.upSlides-exit-active {
  transform: translateY(-10%);
  opacity: 1;
  transition: all 400ms;
}
.upSlides-exit-done {
  opacity: 1;
  transform: translateY(0);
}

!*由下至上滑动*!
.downSlides-enter {
  transform: translateY(100%)!important;
}
.downSlides-enter-active {
  transform: translateY(0)!important;
  transition: all 400ms;
}
.downSlides-enter-done {
  transform: translateY(0) !important;
  transition: all 400ms;
}
.downSlides-exit {
  transform: translateY(0)!important;
}
.downSlides-exit-active {
  transform: translateY(100%)!important;
  transition: all 400ms;
}
.downSlides-exit-done {
  transform: translateY(100%)!important;
}

!*由右至左100%滑动*!
.rightToLeftSlide100-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.rightToLeftSlide100-enter-active {
  transform: translateX(0);
  transition: all 400ms;
}
.rightToLeftSlide100-exit {
  transform: translateX(0);
  opacity: 0;
}
.rightToLeftSlide100-exit-active {
  transform: translateX(-100%);
  transition: all 400ms;
}
.rightToLeftSlide100-exit-done {
  transform: translateX(0);
}*/

/*路由动画*/
/* src/App5/index.scss */
/*由上至下滑动*/
.upSlides-enter {
  transform: translateY(-10%);
  opacity: 0;
}
.upSlides-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 400ms;
}
.upSlides-exit {
  transform: translateY(0);
  opacity: 0;
}
.upSlides-exit-active {
  transform: translateY(-10%);
  opacity: 1;
  transition: all 400ms;
}
.upSlides-exit-done {
  opacity: 1;
  transform: translateY(0);
}

/* 购物车数据增加动画*/
.wave-enter {
  transform: scale(0.5);
  opacity: 0;
}
.wave-enter-active {
  opacity: 1;
}
.wave-enter-done {
  transform: scale(3);
  opacity: 0;
}

/*由下至上滑动*/
.downSlides-enter {
 transform: translateY(100%)!important;
}
.downSlides-enter-active {
  transform: translateY(0)!important;
  transition: all 400ms;
}
.downSlides-enter-done {
  transform: translateY(0) !important;
  transition: all 400ms;
}
.downSlides-exit {
 transform: translateY(0)!important;
}
.downSlides-exit-active {
  transform: translateY(100%)!important;
  transition: all 400ms;
}

.downSlides-exit-done {
  transform: translateY(100%)!important;
}



/* 路由前进时的入场/离场动画 */
.forward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.forward-exit {
  opacity: 1;
  transform: translateX(0);
}

.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}

/* 路由后退时的入场/离场动画 */
.back-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.back-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.back-exit {
  opacity: 1;
  transform: translateX(0);
}

.back-exit-active {
  opacity: 0;
  transform: translate(100%);
  transition: all 500ms;
}

/*正在加载的后面的点点动画*/

/*覆盖抽屉样式*/
.am-drawer.am-drawer-left .am-drawer-draghandle, .am-drawer.am-drawer-right .am-drawer-draghandle{
  width: 0!important;
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.am-modal-transparent .am-modal-content{
  padding: 0!important;
}

.am-modal-transparent{
  width: 88vw!important;
}
.am-modal-button-group-v .am-modal-button{
  width: 90% !important;
  margin: 4px auto;
  border-radius: 4px;
  line-height: 40px!important;
  height: 40px!important;
  color: #fff!important;
  background-color: #e75e24!important;
}
.am-modal-body{
  padding: 0 15px 4px!important;
}
.am-list-item{
  position: relative;
  display: flex;
  padding-left: 10px;
  min-height: 30px!important;
  background-color: #fff;
  vertical-align: middle;
  overflow: hidden;
  transition: background-color 200ms;
  align-items: center;
}
.am-list-item.am-input-item{
  height: 30px!important;
}
/*.am-modal-content{
  background-color:#26263e!important;
}
.am-modal-transparent .am-modal-content .am-modal-body{
  padding: 0!important;
}


.am-list-item.am-input-item{
  height: 30px!important;
}
*/

/*!* 覆盖toast的样式 *!
.am-toast-notice-content .am-toast-text {
  min-width: 60px;
  border-radius: 3px;
  color: rgba(58, 58, 58, 0.9);
  background-color:#fff;
  line-height: 1.5;
  padding: 9px 15px;
}

.bet-toast-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}*/

/*
.bet-success-logo{
  display: block;
  width: 10vw;
  height: 10vw;
  background-image: image-set(
    url('./assets/duihao1@2x.png') 2x,
    url('./assets/duihao2@3x.png') 3x
  );
  background-size: contain;
  margin-bottom: 1.5vh;
  margin-top: 1vh;
}

.bet-fail-logo{
  display: block;
  width: 10vw;
  height: 10vw;
  background-image: image-set(
    url('./assets/10@2x.png') 2x,
    url('./assets/10@3x.png') 3x
  );
  background-size: contain;
  margin-bottom: 1.5vh;
  margin-top: 1vh;
}
*/

/* 水波动画的css */
.bet-wave-animate1{
  animation: bet-animate .8s 0s forwards;
}
.bet-wave-animate2{
  animation: bet-animate .8s .2s forwards;
}


@keyframes bet-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}


