@import "../styles/utils.scss";
@import "../styles/common.scss";

.index {
  animation: slideLeft .3s forwards;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 1px;
  min-width: 100%;
  color: #ffffff;
  background: #fff;
  .main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    .event-loading {
      position: relative;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}

.mask-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 1 !important;
  text-align: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.bet-order-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1 !important;
  text-align: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
}

.bet-order {
  width: 100%;
  background: #f0f0f0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1001;

}

.box_on {
  transform: translate3d(0, 0%, 0);
  transition: transform cubic-bezier(0.55, 0, 0.42, 1) 0.3s;
  -webkit-transform: translate3d(0, 0%, 0);
  -webkit-transition: transform cubic-bezier(0.55, 0, 0.42, 1) 0.3s;
  /*	animation: boxon-animate cubic-bezier(0.55,0,0.42,1) 0.3s both;
    -webkit-animation: boxon-animate cubic-bezier(0.55,0,0.42,1) 0.3s both;*/
}

.box_off {
  transform: translate3d(0, 100%, 0);
  transition: transform cubic-bezier(0.55, 0, 0.42, 1) 0.3s;
  -webkit-transform: translate3d(0, 100%, 0);
  -webkit-transition: transform cubic-bezier(0.55, 0, 0.42, 1) 0.3s;
}

.betRecript.box_off {
  visibility: hidden;
  transform: translate3d(0, 100%, 0);
  transition: all cubic-bezier(0.55, 0, 0.42, 1) 0.3s;
  -webkit-transform: translate3d(0, 100%, 0);
  -webkit-transition: all cubic-bezier(0.55, 0, 0.42, 1) 0.3s;
}

.betRecript.box_on {
  visibility: visible;
  transform: translate3d(0, 0%, 0);
  transition: transform cubic-bezier(0.55, 0, 0.42, 1) 0.3s -.3s;
  -webkit-transform: translate3d(0, 0%, 0);
  -webkit-transition: transform cubic-bezier(0.55, 0, 0.42, 1) 0.3s -.3s;
}

.betRecript.box_on ~ .betBox {
  visibility: hidden;
}

@keyframes boxon-animate {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@-webkit-keyframes boxon-animate {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
  }
}

@keyframes boxoff-animate {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes boxoff-animate {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}

@keyframes bet-animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@-webkit-keyframes bet-animate {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3);
    opacity: 0;
  }
}

@keyframes loading-animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading-animate {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}





